<div class="container" style="margi:100px 0">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Modificar el proyecto</h4>
            <form action="/admin/proyectos/modificar" method="post">
                <input type="hidden" value="{{proyecto.id}}" name="id">
                
                <div class="mb-3 row">
                    <label for="">Proyecto</label>
                    <input type="text" class="form-control" name="proyecto" value="{{proyecto.proyecto}}">
                </div>
                <div class="mb-3 row">
                    <label for="">Descripcion</label>
                    <textarea class="form-control" name="descripcion">{{proyecto.descripcion}}</textarea>
                </div>
                <div class="mb-3 row">
                    <label for="">Foto</label>
                    <input type="text" class="form-control" name="foto" value="{{proyecto.foto}}">
                </div>


                <button type="submit" class="btn btn-primary">Modificar</button>
            </form>
            {{#if error}}
            <p>{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>